<h1>X By 2 Regular Expression Contest</h1>

<p>Welcome, you will be presented with sets of data that will require a regular expression to
    filter the text to match the goal text.  Once the regular expression filters the problem
    data to match the goal text, you'll be able to progress to the next problem.</p>

<h2>Question {{problemMetadata.number}}</h2>
<p>Problem Difficulty: {{problemMetadata.difficulty}} of 10</p>
<p>Title: {{problemMetadata.title}}</p>

<textarea id="problemDataTextArea" disabled>{{problemData}}</textarea>
 
<div id="regexInput">
    <span>Regex Input</span>
    <input ng-change="regexChange()" ng-model="regex" />
</div>
<div id="filteredText">
    <p>Filtered Text</p>
    <textarea id="filteredTextArea" disabled>{{filteredResults}}</textarea>
</div>
<div id="goalText">
    <p>Goal Text</p>
    <textarea id="answersTextArea" disabled>{{answers}}</textarea>
</div>
<button ng-disabled="nextButtonDisabled">Next</button>

