<h1>X By 2 Regex Regular Expression Puzzles</h1>

<p>Welcome, you will be presented with sets of data that will require a regular expression to filter the text to match the goal text.</p>

<h2>Question {{problemMetadata.number}}</h2>

<textarea id="problemDataTextArea" disabled>{{problemData}}</textarea>
 
<div id="regexInput" style="text-align: center">
    <span>Regex Input</span>
    <input ng-change="regexChange()" ng-model="regex" />
</div>


<div id="filteredText" class="span6" style="border:5px solid black">
    <h3>Filtered Text</h3>
    <textarea id="filteredTextArea">{{filteredResults}}</textarea>
</div>

<div id="goalText"  class="span6" style="border:5px solid black">
    <h3>Goal Text</h3>
    <textarea id="answersTextArea" disabled>{{answers}}</textarea>
</div>

<button class="span4" ng-disabled={{nextButtonDisabled}}>Next</button>

